[submodule "sbox-bgc"]
	path = non-linear-layer
	url = https://github.com/jiahaoxiang2000/sbox-bgc.git
[submodule "LCB"]
	path = LCB
	url = https://github.com/jiahaoxiang2000/LCB.git
[submodule ".claude"]
	path = .claude
	url = https://github.com/jiahaoxiang2000/claude-conf.git
